{% extends 'base.html.twig' %}

{% block title %}Se Connecter {% endblock %}

{% block body %}

    <div class="body-login">
        <div class="login-box">
            <form method="post" class="form-login">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <h1 class="titre-login">Login</h1>
                <div class="core-login">
                    <div class="text-box">
                        <!--<label for="inputMail">Mail</label>-->
                        <input type="text" placeholder="Mail" value="{{ last_username }}" name="mail" id="inputMail" class="textform" autocomplete="username" required autofocus>
                    </div>
                    <div class="text-box">
                        <!--<label for="inputPassword">Password</label>-->
                       <input type="password" placeholder="Password" name="password" id="inputPassword" class="textform" autocomplete="current-password" required>
                    </div>
                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                       >


                    {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                    #}
                    <input type="submit" class="btn" name="sign in" value="Se connecter">
                </div>
                <div class="login-remember">
                    <input type="Checkbox" id="login-checkbox"  value="Remember me" />
                    <label for="login-checkbox" >Remember me</label>
                </div>

                <a href="#" class="forget-password">Forgot Password</a>
            </form>
        </div>
    </div>
{% endblock %}
